sysroot/*
iso/*
hdd/*

toolchain/*
!toolchain/
!toolchain/Makefile

deps/testelf1
deps/testelf2

*.o
*.d
*.so
*.a
*.bin
*.elf
*.efi
*.EFI
*.img
*.hdd
*.iso
*.qcow2
.gdb_history
./compile_commands.json
